<!DOCTYPE html>
<html>

<head>
    <title>Contribute to Story</title>
    <!-- css -->
    <link rel="stylesheet" type="text/css" href= "../static/basicStyle.css">
</head>

<body>
    <center>
        <div class="header">
            <br><br>
            <h1>Add your contribution to the story!</h1>
            <br><br>
        </div>
    </center>

    <center>
        <div class="body">
            <br><br>
            <form name="input" method="POST" action="/addtoDB/">
                <input type="text" name="newText" placeholder="Add your piece!"><br><br>
                <input type="submit" name="submit" value="Submit" class="button"><br>
		{{id}}
            </form>
            <br><br>
        </div>
    </center>
</body>

</html>
