<!DOCTYPE html>
<html>
<head>
    <title> VIMS Storypage </title>
    <link rel="stylesheet" type="text/css" href= "../static/basicStyle.css">
</head>
<body>
    <div class="header"><br><br><p>Stories History</p><br><br></div>
{{storyHistory|safe}}

<div class="header"><br><br><p>Recomended Stories</p><br><br></div>
{{allStories|safe}}

<div class="body"><br><br>
    <form action = "/newstory/">
        <input type = "submit" value = "Create New Story" class="button"><br>
    </form>

    <form action = "/logout/">
        <input type = "submit" value = "Log out" class="button"> <br>
    </form>
    <br><br></div>

</body>
</html>
