<!DOCTYPE html>
<html>
  <head>
    <title> VIMS Storypage </title>
  </head>
  <body>
    <p>Stories History</p><br>
<!-- STORIES I'VE CONTRIBUTED TO
database:  select sid (pid?) where "username of contributor" = username
 -> do this in main.py

<a href="{local link url}">{title of story}</a>
-->
  <p>Recommended Stories</p><br>
<!--OTHER STORIES ???
  select a few random stories from database and generate link to it?

<a href="{local link url}">{title of story}</a>
  -->


    <form action = "/newstory/">
      <input type = "submit" value = "Create New Story"><br>
    </form>

    <form action = "/logout/">
      <input type = "submit" value = "Log out"> <br>
    </form>

  </body>
</html>