<!DOCTYPE html>
<html>
<head>
    <title> Login</title>
    <link rel="stylesheet" type="text/css" href= "../static/basicStyle.css">
</head>
<body>
	{{status}}<br>
    <form action = "/authentication/" method = "POST">
        Username: <input type = "text" name = "user" placeholder = "user"> <br>
        Password: <input type = "password" name = "pass"> <br>
        <input type = "submit" value = "Login" name = "enter">
        <input type = "submit" value = "Register" name = "enter">
    </form>
</body>
</html>
