<!DOCTYPE html>
<html>
  <head>
    <title>Make Post</title>
	<link rel="stylesheet" type="text/css" href= "../static/basicStyle.css">
  </head>
  <body>
    <div class="head"><br><br><center>
    <h1>Make New Story</h1>
    <br><br></div>
    <div class = "body"><br><br><center>
	<form name="input" method="POST" action="/postResult/">
	<input type="text" name="title">
	<h3>Stories are limited to 1000 characters</h3>
    <textarea maxlength = "1000" name = "post" cols = "50" rows = "15"></textarea>
    <input type = "submit" name = "submit" value = "Submit" class="button"></div>
    </form>
  </body>
</html>
